<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Demo</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/blog_xx.css" />
  </head>
  <body>
    <section class="blogs">
      <div class="section-title">
        <h2><%= name %> <%= id %></h2>
      </div>
      <div class="blogs-center2">
        <article class="blog">
          <img
            src="/images/photo-1.jpg"
            alt="Coffee photo"
            class="img blog-img"
          />
          <div class="blog-content">
            <span>Spider-Man <i class="fa-solid fa-mug-saucer"></i></span>
            <h3>Spider-Man Peter Parker</h3>
            <p>In Earth-616</p>
            <a href="#">read more</a>
          </div>
        </article>
        <article class="blog">
          <img
            src="/images/photo-2.jpg"
            alt="Coffee photo"
            class="img blog-img"
          />
          <div class="blog-content">
            <span>Spider-Lady<i class="fa-solid fa-globe"></i></span>
            <h3>Spider-Gawn Gawn Stacty</h3>
            <p>In Earth-65</p>
            <a href="#">read more</a>
          </div>
        </article>
        <article class="blog">
          <img
            src="/images/photo-3.jpg"
            alt="Coffee photo"
            class="img blog-img"
          />
          <div class="blog-content">
            <span>Spider-Man <i class="fa-solid fa-mug-saucer"></i></span>
            <h3>Spider-Man Miles Morales</h3>
            <p>In Earth-1610</p>
            <a href="#">read more</a>
          </div>
        </article>
        <article class="blog">
          <img
            src="/images/photo-4.jpg"
            alt="Coffee photo"
            class="img blog-img"
          />
          <div class="blog-content">
            <span>Spider-Man <i class="fa-solid fa-mug-saucer"></i></span>
            <h3>Spider-Man 2099 Miguel O'Hara</h3>
            <p>In Earth-928</p>
            <a href="#">read more</a>
          </div>
        </article>
        <article class="blog">
          <img
            src="/images/photo-5.jpg"
            alt="Coffee photo"
            class="img blog-img"
          />
          <div class="blog-content">
            <span>Spider-Man <i class="fa-solid fa-mug-saucer"></i></span>
            <h3>The Amazing Spider-Man Peter Benjamin Parker</h3>
            <p>In Earth-166100</p>
            <a href="#">read more</a>
          </div>
        </article>
        <article class="blog">
          <img
            src="/images/photo-6.jpg"
            alt="Coffee photo"
            class="img blog-img"
          />
          <div class="blog-content">
            <span>Spider-Man <i class="fa-solid fa-globe"></i></span>
            <h3>The Amazing Spider-Man Tobey Maguire</h3>
            <p>In Earth-166101</p>
            <a href="#">read more</a>
          </div>
        </article>
        <article class="blog">
          <img
            src="/images/photo-7.jpg"
            alt="Coffee photo"
            class="img blog-img"
          />
          <div class="blog-content">
            <span>Spider-Man <i class="fa-solid fa-mug-saucer"></i></span>
            <h3>Spider-Man PS5 Peter Parker</h3>
            <p>In Earth-1048</p>
            <a href="#">read more</a>
          </div>
        </article>
        <article class="blog">
          <img
            src="/images/photo-8.jpg"
            alt="Coffee photo"
            class="img blog-img"
          />
          <div class="blog-content">
            <span>Spider-Man <i class="fa-solid fa-mug-saucer"></i></span>
            <h3>Spider-Man Peter Parker Venom</h3>
            <p>In Earth-616</p>
            <a href="#">read more</a>
          </div>
        </article>
        <article class="blog">
          <img
            src="/images/photo-9.jpg"
            alt="Coffee photo"
            class="img blog-img"
          />
          <div class="blog-content">
            <span>Spider-Man <i class="fa-solid fa-mug-saucer"></i></span>
            <h3>Spider-Man Peter Parker MKII</h3>
            <p>In Earth-616</p>
            <a href="#">read more</a>
          </div>
        </article>
      </div>
    </section>
  </body>
</html>
